body
{
  margin: 0;
  padding: 0;
  font: normal 12px arial, helvetica, sans-serif;
  color: #434343;
  background-color: #F3F3F3;
}

h1	{
	color:#434343;
}

a
{
  font-weight: bold;
}

a:link, a:visited 
{
  color: #0199B2;
  text-decoration: none;
}

a:hover 
{
  color: #7CCDE2;
}

img
{
  border: 0px;
}

.width
{
  width: 640px;
  margin: 25px auto 0 auto;
  background-color: #FFF;
  border:none;
  box-shadow:0 0 6px 0 rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.4);

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius:15px;
}

.mainbody
{
  color: #434343;
  padding: 25px 25px 10px 25px;
  background-color:none;
  margin-top:-10px;
}

.header
{
  background-color: none;
  border-bottom:10px solid #757575;
}

.menubar
{
  margin: 10px 10px 10px 10px;
  text-align: right;
}

.menubar-left
{
  float: left;
}

.menubar-right
{
  float: right;
}

.footer
{
  margin: 10px 0px;
  float: right;
}

.info
{
  width: 100%;
  background: #FFFFBB;
  padding: 5px;
  border-color: #BBBB00;
  border-style: solid;
  border-width: 1px;
}

.error
{
  width: 100%;
  background: #FFBBBB;
  padding: 5px;
  border-color: #BB0000;
  border-style: solid;
  border-width: 1px;
}

.buttons
{
  text-align: center;
}

table
{
  width: 100%;
  border-collapse: collapse;
  font: normal 11px arial, helvetica, sans-serif;
  color: #363636;
  background: #ECECEC;
  text-align: left;
}

.endpoint
{
	font-weight: bold;
	font-family: courier, arial, helvetica, sans-serif;
}

table th
{
  padding:5px;
}

.settings-page table th
{
	width:33%;
}

table td 
{
  padding:5px;
  background: #F6F6F6;
}

.settings-page table th.name
{
	width: 30%;
}

.settings-page table th.value
{
	width: 20%;
}

.settings-page table th.desc
{
	width: 50%;
}

.required
{
	
}

span.side-by-side {
	display: table-cell;
	padding-right: 10px;
}

button {
	min-width: 65px;
}

button.user-info {
	margin-top: 5px;
}